@model List<Category>
<div class="container">
    <div class="row pt-4 pb-2">
        <div class="col-6">
            <h2>
                Category List
            </h2>
        </div>
        <div class="col-6 text-end ">
            <a asp-controller="Category" asp-action="Create" class="btn btn-outline-dark btn-sm shadow-sm">
                <i class="bi bi-plus-circle"></i> Add a New Category
            </a>
        </div>

    </div>
</div>
<table class="table table-bordered table-hover table-striped shadow-sm">
    <thead>
        <tr class="table-dark">
            <th style="width: 50%;">
                Category Name
            </th>
            <th style="width: 35%;">
                Display Order
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Category category in Model.OrderBy(c=>c.DisplayOrder))
        {
            <tr>

                <td class="px-3">@category.Name</td>
                 <td class="px-3">@category.DisplayOrder</td>
                <td>
                    <div class="d-flex justify-content-start" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-categoryId="@category.Id" class="btn btn-outline-dark shadow-sm btn-sm mx-1 ">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-outline-danger shadow-sm btn-sm mx-2">
                            <i class="bi bi-trash"></i> Delete
                        </a>
                    </div>
                </td>


            </tr>
        }
    </tbody>
</table>

