@model Category

<div class="card shadow border-0 mt-5">
    <div class="card-header bg-dark bg-gradient m-lg-0 py-3">
        <div class="row text-center">
            <div class="text-center">
                <h2 class="text-white py-2" style="text-transform:capitalize">Create Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form asp-action="Create" method="post" class="row">

                @* <div asp-validation-summary="ModelOnly"></div> *@
                <div class="mb-3 row  p-1 mx-1">
                <label asp-for="Name" class="form-label p-0 mx-1"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1 mx-1">
                <label asp-for="DisplayOrder" class="form-label p-0 mx-1"></label>
                    <input asp-for="DisplayOrder" class="form-control" />
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>

                </div>
                <div class="row mx-1">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-outline-dark bg-gradient form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Category" asp-action="Index" class="btn border-4 shadow-sm form-control">
                            Back To List
                        </a>
                    </div>
                </div>
        </form>
    </div>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}