@model List<Category>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2>
                Category List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-outline-dark">
                <i class="bi bi-plus-circle"></i> Create New Category
            </a>
        </div>
    </div>
</div>
<table class="table table-bordered table-hover table-striped shadow-sm">
    <thead>
        <tr class="table-dark">
            <th style="width: 70%;">
                Category Name
            </th>
            <th style="width: 30%;">
                Display Order
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Category category in Model)
        {
            <tr style="height: 50px;">
                <!-- Adjust height here -->
                <td>@category.Name</td>
                 <td>@category.DisplayOrder</td>
                <td>
                    <div class="w-100 d-flex justify-content-start mx-2" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-categoryId="@category.Id" class="btn btn-outline-dark btn-sm shadow-sm w-100">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-outline-danger btn-sm shadow-sm mx-3">
                            <i class="bi bi-trash"></i> Delete
                        </a>
                    </div>
                </td>


            </tr>
        }
    </tbody>
</table>

